.marquee{
    width: 100vw;
    overflow: hidden;
    background-color: #161616;
    color: #f9f5f3;
    padding: 20px 0px;
}
.marquee-track{
    display: flex;
    gap: 100px;
    width: max-content;
    animation: scroll 20s linear infinite;
}
@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-50%);
    }
}

.marquee-track span{
    font-size: 1.8rem;
    font-weight: 800;
    white-space: nowrap;
}