.problems-section{
    max-width: 1500px;
    margin: 50px auto;
    padding: 0 20px;
}
.problem-heading{
    text-align: center;
}
.problem-heading h1{
    font-size: 4rem;
    font-weight: 900;
    line-height: 1.1;
}
.highlight{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    color: #ffd54f;
    background-color: black;
    border: 3px solid #ffd54f;
    border-radius: 8px;
    box-shadow: 3px 3px 0px #ffd54f;
}

.problem-description{
    max-width: 800px;
    margin: 25px auto 0;
    text-align: center;
    justify-content: center;
    font-size:  1.2rem;
    line-height: 1.7;
    color: #2f2f2f;
}

.problem-cards{
    display: flex;
    gap: 45px;
    flex: 1;
    padding: 25px;
}

